body{
    background-color: black;
}
form textarea{
    background-color: rgb(44, 44, 44);
    margin-bottom:10px;
    width:300px;
    height: 100px;
    border: none;
    border-radius: 2%;
    padding: 10px;
    color: aliceblue;
    display: block;
}
form input
{
    background-color: #7E30E1;
    font-size: 15px;
    padding:5px;
}
.form{
    position: absolute;
    top:130px;
    left:40%;
    img{
        height: 300px;
        width: 320px;
        margin-bottom: 20px;
        border-radius: 5px;
    }
}
h1{
    color: aqua;
    text-align: center;
}