<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style1.css">
</head>
<body>
    <a href="/">signup</a>
    <div class="form">
        <h1>Login here..</h1>
        <form action="/login" method="post">
            <input type="email" placeholder="email" name="email">
            <input type="password" placeholder="password" name="password">
            <input type="submit" value="Login">
        </form>
    </div>
    
</body>
</html>